#screen {
    min-height: 200px;

}
#monsterPic {
    width: 100%;
    max-height: 250px;
}
.tip {
    background-color: white;

    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}